.sp-form-botton {
    padding-bottom:6.25em;
    padding-top:1.25em;
}

    /* 나머지 부분 */
.sp-table-pay-infomation {
    height:40px;
}

.sp-table-pay-information-th {
    width:150px;
    text-align:right;
    background:#e6e6e6;
    border-right:1px solid #e6e6e6;
}

.sp-title {
    padding-bottom:0.125em;
}

.sp-title-sub {
    border-bottom:2px solid #e6e6e6; 
    padding-bottom:20px;
}

.sp-table-sub {
    border-top: 2px solid #333;
    padding-bottom:20px;
}

.sp-table-left {
    border-right:1px solid #222;
    border-bottom: 1px solid #222;
}

.sp-table-right {
    border-bottom: 1px solid #222;
}

.sp-table-center {
    text-align: center;
    vertical-align: middle;
}

.sp-privacy {
    color:gray;
    font-size: 0.562rem;
    text-align:center;
}

.sp-sms-agree {
    color:gray;
    font-size:0.562rem;
}

.sp-btn {
    background:#ffc001;
    color:#FFFFFF;
    margin-top:-0.313em;
    width: 120px;
}

.sp-submit-button {
    background:#ffc001;
    color:#FFFFFF;
    width:200px;
    height:50px;
    margin-bottom:1.125em;
    margin-top:-1.725em;
}

.sp-input-height {
    height:40px;
}

.sp-input-phone {
    width:120px;
    text-align:center;
}

label {
    margin:-1.563em;
}

.sp-input-email {
    width:150px;
}

.sp-margin-top {
    margin-top:-80px;
}

.sp-commisioned-memo {
    resize: none;
    height: 200px;
}