<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 이름은 SQL을 찾을 때 사용하는 그룹명이다.
     따라서 SQL 문을 사용하는 DAO 클래스 이름과 같게 하면
     유지보수할 때 알아보기 쉽다.
     단순히 알아보기 쉬울 뿐만 아니라 
     스프링 프레임워크와 연동할 때 DAO 객체를 자동 생성할 수 있다. 
-->
<mapper namespace="bitcamp.java106.pms.dao.BoardDao">

  <resultMap type="Board" id="BoardMap">
    <id column="bno" property="no"/>
    <result column="memno" property="memno"/>
    <result column="path" property="path"/>
    <result column="boctt" property="content"/>
    <result column="brtdt" property="createDate"/>
    <result column="cnt" property="count"/>
    <result column="nknm" property="nickname"/>
    <result column="tname" property="hashtag"/>
    <result column="crtdt" property="comments"/>
  </resultMap>
  
  <!-- SQL 문 id를 설정할 때 SQL문을 사용하는 메서드 이름과 같게하면
       유지보수할 때 알아보기 쉽다. 
       알아보기 쉬울 뿐만 아니라
       스프링 프레임워크와 연동할 때 DAO객체를 자동생성하고 
       그 메서드를 자동생성할 때 사용할 수 있다.
  -->
  <select id="selectList" 
          resultMap="BoardMap"
          parameterType="map">
    SELECT b.BNO, b.PATH, COUNT(l.bno) AS cnt 
    FROM INTR_BOARD b 
    LEFT OUTER JOIN INTR_LKMB l 
    ON b.BNO = l.BNO 
    GROUP BY BNO 
    order by bno desc
    limit #{startRowNo}, #{pageSize}
  </select>
  
  <select id="selectOne" parameterType="int" resultMap="BoardMap">
    SELECT b.BNO, mem.NKNM, b.PATH, b.BOCTT, COUNT(l.bno) AS cnt, b.BRTDT 
    FROM INTR_BOARD b 
    LEFT OUTER JOIN INTR_MEMBER mem 
    ON b.MEMNO = mem.MEMNO 
    LEFT OUTER JOIN INTR_LKMB l 
    ON b.BNO = l.BNO 
    LEFT OUTER JOIN INTR_BTMACH hm 
    ON b.BNO = hm.BNO 
    WHERE b.BNO = ${value}
  </select>
  
  <select id="commentList" parameterType="int" resultMap="BoardMap">
    SELECT m.NKNM, b.CRTDT 
    FROM INTR_BCMMT b 
    LEFT OUTER JOIN INTR_MEMBER m 
    ON b.MEMNO = m.MEMNO 
    WHERE b.BNO = #{value}
    ORDER BY b.CMCTT DESC
  </select>
  
  <select id="hashtagList" parameterType="int" resultMap="BoardMap">
    SELECT bo.BNO, ht.TNAME
    FROM INTR_BOARD bo 
    INNER JOIN INTR_BTMACH mt 
    ON bo.BNO = mt.BNO 
    LEFT OUTER JOIN INTR_HASHTAG ht 
    ON mt.HTNO = ht.HTNO
    WHERE bo.BNO = #{value}
  </select>
  
</mapper>







